.img-fluid {
  width: 100%;
  min-height: 200px;
}

.img-container {
  max-height: 200px;
  overflow: hidden;
}

.card{
    width:100% !important;
    margin-bottom: 15px;
}

.icon{
  cursor: pointer;
  margin-right: 15px;
}
.icon:hover{
  color: rgb(97, 97, 97);
}

.img-content{
  cursor: pointer !important;
}

.card:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}