<!-- Navigation -->

<nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
  <div class="container-fluid bg-dark">

    <!-- Brand -->

    <div class="navbar-brand">
      <a href="#"><img src="https://congail.com/test/img/logo.png"></a>
    </div>

    <!-- Collapse button -->

    <button class="navbar-toggler" data-toggle="collapse" data-target="#navCol">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>

  <div class="collapse navbar-collapse" id="navCol">
    <hr class="nav-hr">
    <div class="container-fluid">
      <ul class="navbar-nav ml-auto">
        <hr class="thick">
        <li class="nav-item">
          <a class="nav-link" href="#home">Home</a>
        </li>
        <li class="nav-item" id="ab">
          <div class="dropdown">
            <button class="btn btn-link nav-link dropdown-toggle" href="#about">About</button>
            <div class="colup bg-dark collapse" id="ddm">
              <a class="dropdown-item" href="#origin">Origin</a>
              <a class="dropdown-item" href="#music">Music</a>
            </div>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#members">Members</a>
        </li>
        <li class="nav-item">
          <a class="nav-link org-link" href="https://congail.com/gallery" id="gal-link">Gallery</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contact">Contact</a>
        </li>


      </ul>
    </div>
    <hr class="nav-hr">
  </div>
</nav>

<!-- If admin is logged in -->
<div *ngIf="hasUser && user.role==3" class="admin-scroll col-12 text-center">
  <p>Welcome {{user.username}}!</p>
</div>


<div class="main" id="home">
  <!--- Image Slider -->

  <div class="my-carousel">
    <div class="carousel slide" id="bsdemo" data-ride="carousel">

      <!-- Indicators -->
      <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
        <li data-target="#demo" data-slide-to="3"></li>
        <li data-target="#demo" data-slide-to="4"></li>
        <li data-target="#demo" data-slide-to="5"></li>
        <li data-target="#demo" data-slide-to="6"></li>
        <li data-target="#demo" data-slide-to="7"></li>
        <li data-target="#demo" data-slide-to="8"></li>
        <li data-target="#demo" data-slide-to="9"></li>
      </ul>

      <!-- Items -->

      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="https://congail.com/test/img/carousel/01.webp">
        </div>
        <div class="carousel-item">
          <img src="https://congail.com/test/img/carousel/02.webp">
        </div>
        <div class="carousel-item">
          <img src="https://congail.com/test/img/carousel/03.webp">
        </div>
        <div class="carousel-item">
          <img src="https://congail.com/test/img/carousel/04.webp">
        </div>
        <div class="carousel-item">
          <img src="https://congail.com/test/img/carousel/05.webp">
        </div>
        <div class="carousel-item">
          <img src="https://congail.com/test/img/carousel/06.webp">
        </div>
        <div class="carousel-item">
          <img src="https://congail.com/test/img/carousel/07.webp">
        </div>
        <div class="carousel-item">
          <img src="https://congail.com/test/img/carousel/08.webp">
        </div>
        <div class="carousel-item">
          <img src="https://congail.com/test/img/carousel/09.webp">
        </div>
        <div class="carousel-item">
          <img src="https://congail.com/test/img/carousel/10.webp">
        </div>
      </div>


      <!-- Next/prev controls -->
      <a class="carousel-control-prev" href="#bsdemo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#bsdemo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>
    </div>
  </div>
  <div class="between"></div>

  <!-- Introductory jumbotron -->

  <div class="jumbotron jumbotron-fluid bg-dark">
    <div class="container">
      <h1 class="display-5">Beware...</h1>
      <p class="lead"><cite>
          “In the land twixt day and night, where ravens dance and angels dream... ”</cite></p>
      <hr class="my-2">
      <p>...a mixture of blues, punk, rock and old Irish magic.</p>
    </div>

  </div>
  <div class="container-fluid">
    <hr class="my-3">
  </div>



  <!-- Videos -->

  <div class="container padding">

    <br>
    <h1 class="display-2 vids">Videos</h1>
    <hr class="my-2">
    <br><br>
    <div class="row">
      <div class="col-md-6">
        <div class="container">
          <div class="videoWrapper">
            <iframe width="100%" height="100%" src="https://www.youtube.com/embed/Rik8rG0EGQ4" frameborder="0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
        <br>
      </div>
      <div class="col-md-6">
        <div class="container">
          <div class="videoWrapper">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/c-WW3ROiQzQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
    <br>
  </div>

</div>
<div class="between"></div>
<!-- Articles -->
<app-articles [user]="user" [hasUser]="hasUser" id="articles"></app-articles>
<div class="between"></div>
<!-- First parallax -->

<div class="parallax" id="p1"></div>

<div class="between"></div>

<!-- About section -->

<div class="container-fluid" id="about">
  <div class="jumbotron jumbotron-fluid bg-dark">
    <div class="container">
      <h1 class="display-4">About</h1>
      <p class="lead">We are Congail - an Irish-Bulgarian band from Plovdiv. Our art is comprised of Chaos and
        Moonlight, we tell tales of ancient Goddesses, evil spirits, magical creatures and more...</p>
    </div>

    <hr class="my-2">
    <br><br>
    <div class="container-fluid" id="origin">
      <h1 class="display-5">
        Origin
      </h1>
      <hr class="my-3">
      <br>
      <p class="about">The band was created by Maebh, Brenos and Aoibhe Mac Gonagle who are classical musicians.Later
        drummer Stoil Bozhilov, guitarist Nikola Lulov and flutist Javor Angelov joined and the sound of the band was
        formed.</p>
    </div>
    <hr class="my-2">
    <br><br>
    <div class="container-fluid" id="music">
      <h1 calss="display-5">
        Music
      </h1>
      <hr class="my-3">
      <br>
      <p class="about">Their music is a kind of protest against the stagnation and fear of creation, implanted in the
        minds of classical musicians. It incorporates various elements, from classical to jazz, swing, punk and even
        metal.</p>
    </div>
  </div>
</div>
<div class="between"></div>

<!-- Members -->

<div class="container-fluid" id="members">
  <h1 class="display-4 container">Members</h1>
  <hr class="my-2">
  <br>
  <div class="row">
    <div class="col-md-4 col-sm-6">
      <div class="card container">
        <img class="card-img-top img-fluid" src="https://congail.com/test/img/carousel/04.webp" alt="Card image">
        <div class="card-body">
          <h4 class="card-title">Maebh</h4>
          <p class="card-text">Vocals. Frightening at first, but there's nothing to worry about (unless you're a
            cellist).
          </p>
        </div>
      </div>
    </div>
    <br>
    <div class="col-md-4 col-sm-6">
      <div class="card container">
        <img class="card-img-top img-fluid" src="https://congail.com/test/img/carousel/05.webp" alt="Card image">
        <div class="card-body">
          <h4 class="card-title">Yavor</h4>
          <p class="card-text">Flute. Does a pretty good job when he's not out of tune.</p>
        </div>
      </div>
    </div>
    <br>
    <div class="col-md-4 col-sm-6">
      <div class="card container">
        <img class="card-img-top img-fluid" src="https://congail.com/test/img/carousel/07.webp" alt="Card image">
        <div class="card-body">
          <h4 class="card-title">Aoibhe</h4>
          <p class="card-text">Wee free violinist. Very evil, keep distance, because she bites, especially if you get
            her
            name wrong.</p>
        </div>
      </div>
    </div>
    <br>
    <div class="col-md-4 col-sm-6">
      <div class="card container">
        <img class="card-img-top img-fluid" src="https://congail.com/test/img/carousel/08.webp" alt="Card image">
        <div class="card-body">
          <h4 class="card-title">Nikola</h4>
          <p class="card-text">Guitar. Brings Punk back to life and adores beans.</p>
        </div>
      </div>
    </div>
    <br>
    <div class="col-md-4 col-sm-6">
      <div class="card container">
        <img class="card-img-top img-fluid" src="https://congail.com/test/img/carousel/09.webp" alt="Card image">
        <div class="card-body">
          <h4 class="card-title">Stoil</h4>
          <p class="card-text">Drums. Hits trash cans for a living. Beating up people is a hobby of his too.</p>
        </div>
      </div>
    </div>
    <br>
    <div class="col-md-4 col-sm-6">
      <div class="card container">
        <img class="card-img-top img-fluid" src="https://congail.com/test/img/carousel/10.webp" alt="Card image">
        <div class="card-body">
          <h4 class="card-title">Brenos</h4>
          <p class="card-text">Bass. The Great Creator, The Joker and The Weirdo of the band. Loves Hawaiian shirts and
            kicks up his bottom.</p>
        </div>
      </div>
    </div>
    <br>
  </div>
</div>
<div class="between"></div>

<!-- Footer -->

<footer>
  <div class="container-fluid padding bg-dark">
    <div class="row text-center">
      <div class="col-md-4" id="contact">
        <br>
        <h5>Contact</h5>
        <hr class="my-3">
        <p>congailband@congail.com</p>
      </div>
      <div class="col-md-4">
        <br>
        <h5>Web development by</h5>
        <hr class="my-3">
        <p>Victor Velichkov</p>
        <p>Vortic_A</p>
        <p>viki8782@gmail.com</p>
      </div>
      <div class="col-md-4">
        <br>
        <h5>Admin</h5>
        <hr class="my-3">
        <app-login (receivedUser)="gotUser($event)"></app-login>
      </div>
      <div class="col-12">
        <hr class="my-2">
        <h5>&copy; Vortic_A</h5>
      </div>
    </div>
  </div>
</footer>
